// reset
* {
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 13px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    background: #f1f1f1;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #999;
}
p {
    line-height: 1.5em;
}
// reset

// colors
$colors: (
    "primary":  #db9e3f,
    "white"  :  #fff,
    "light"  :  #f9f9f9,
    'light-1':  #d3d9de,
    "grey"   :  #999,
    "grey-1" :  #666,
    "dark-1" :  #343440,
    "dark"   :  #222,
    "black"  :  #000,
    "info"   :  #55f,
    'blue'   :  #4394ee,
    'blue-1' :  #1f3695,
    'danger' :  #791a15
);

$border-color: map-get($colors, 'light-1');


@each $colorKey, $color in $colors {
    .text-#{$colorKey} {
        color : $color;
    }
    .bg-#{$colorKey} {
        background-color : $color;
    }
}
// colors

// text-align
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var !important;
    }
}
// text overflow
.text-ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
// text overflow
// font-size
$base-font-size: 1rem;
$font-sizes: (
   xxs: 0.6154,
    xs: 0.7692, // 10px
    sm: 0.9231, // 12px
    md: 1,      // 13px
    lg: 1.0769, // 14px
    xl: 1.2308  // 16px
);

@each $sizeKey,$size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size * $base-font-size;
    }
}
// font-size
// width, height
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}

// width, height
// flex
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

$flex-jc: (
    start: flex-start,
    end: flex-end,
    center: center,
    between: space-between,
    around: space-around,
);

@each $key, $value in $flex-jc {
    .jc-#{$key} {
        justify-content: $value;
    }
}

$flex-ai: (
    start  : flex-start,
    end    : flex-end,
    center : center,
    stretch: stretch,
);

@each $key, $value in $flex-ai {
    .ai-#{$key} {
        align-items: $value;
    }
}

.flex-1 {
    flex: 1;
}

.flex-grow-1 {
    flex-grow: 1;
}
// flex

// spacing

$spacing-types: (
    m: margin,
    p: padding,
);

$spacing-directions: (
    t: top,
    r: right,
    l: left,
    b: bottom,
);

$spacing-base-size: 1rem;

$spacing-sizes: (
    0: 0,
    1: 0.25,
    2: 0.5,
    3: 1,
    4: 1.5,
    5: 3,
);

@each $typeKey, $type in $spacing-types {

    // m-1
    @each $sizeKey,$size in $spacing-sizes {
        .#{$typeKey}-#{$sizeKey}{
            #{$type}: $size * $spacing-base-size; 
        }
    }

    // mx-1
    @each $sizeKey,$size in $spacing-sizes {
        .#{$typeKey}x-#{$sizeKey}{
            #{$type}-left: $size * $spacing-base-size; 
            #{$type}-right: $size * $spacing-base-size; 
        }
    }

    // my-1
    @each $sizeKey,$size in $spacing-sizes {
        .#{$typeKey}y-#{$sizeKey}{
            #{$type}-top: $size * $spacing-base-size; 
            #{$type}-bottom: $size * $spacing-base-size; 
        }
    }

    // mt-1
    @each $directionKey, $direction in $spacing-directions {
        @each $sizeKey,$size in $spacing-sizes {
            .#{$typeKey}#{$directionKey}-#{$sizeKey}{
                #{$type}-#{$direction}: $size * $spacing-base-size; 
            }
        }
    }
    
}

// spacing

// button

.btn {
    border: none;
    border-radius: 0.1538rem;
    font-size: map-get($font-sizes, 'sm') * $spacing-base-size;
    padding: 0.2rem 0.6rem;
    display: inline;
}
// button

// nav

.nav {
    display: flex;
    .nav-item{
        border-bottom: 3px solid transparent;
        padding-bottom: 0.2rem;
        &.active { 
            color: map-get($colors, 'primary');
            border-bottom-color: map-get($colors, 'primary');
        }
    }
    &.nav-inverse{
        .nav-item{
            color: map-get($colors ,'white');
            &.active{
                border-bottom-color: map-get($colors , 'white');
            }
        }
    }
}

// nav

.p-r{
    position: relative;
}

.p-a{
    position: absolute;
}

// sprite

.sprite {
    background: url(../src/assets/images/index.png) no-repeat 0 0;
    background-size: 28.8462rem;
    display: inline-block;
    &.sprite-news {
        width: 1.7692rem;
        height: 1.5385rem;
        background-position: 63.546% 15.517%;
    }
    &.sprite-story {
        width: 1.7692rem;
        height: 1.5385rem;
        background-position: 90.483% 15.614%;
    }
    &.sprite-store {
        width: 1.4615rem;
        height: 1.6923rem;
        background-position: 36.746% 0.924%;
    }
    &.sprite-test {
        width: 1.5385rem;
        height: 1.5385rem;
        background-position: 10.408% 15.517%;
    }
    &.sprite-noob {
        width: 1.5385rem;
        height: 1.6154rem;
        background-position: 89.733% 1.266%;
    }
    &.sprite-honor {
        width: 1.8462rem;
	    height: 1.5385rem;
        background-position: 36.467% 15.287%;
    }
    &.sprite-king {
        width: 1.8462rem;
	    height: 1.8462rem;
        background-position: 63.3% 0.927%;
    }
    &.sprite-wechat {
        width: 1.8462rem;
	    height: 1.5385rem;
        background-position: 0 96.207%;
    }
    &.sprite-version {
        width: 1.8462rem;
	    height: 1.8462rem;
        background-position: 63.3% 0.927%;
    }
    &.sprite-environment {
        width: 1.5385rem;
	    height: 1.5385rem;
        background-position: 10.408% 15.517%;
    }
    &.sprite-inf-king {
        width: 1.8462rem;
	    height: 1.8462rem;
        background-position: 63.3% 0.927%;
    }
    &.sprite-idea {
        width: 2.3846rem;
	    height: 1.9231rem;
        background-position: 9.302% 0.813%;
    }
    &.sprite-arrow{
        background-position: 38.577% 52.076%;
        width: 0.7692rem;
	    height: 0.7692rem;
    }


}


// sprite

// borders
@each $dir in (top, right, bottom, left) {
    .border-#{$dir} {
        border-#{$dir}: 1px solid $border-color;
    }
}
// borders